.buttons {
  margin-top: 15px;
  > a button:nth-child(n) {
    margin-right: 20px;
  }
  a button {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
}
a button.btn-primary {
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin: 5px 0 20px 0;
  min-width: 180px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;

  /* Different Button Sizes */

  /* Different Button Colors */
  &.dark-cyan {
    color: $white;
    background: $dark-cyan;
    &:hover {
      background: darken($cyan, 10);
    }
  }
  &.cyan {
    color: $dark-cyan;
    background: $cyan;
    &:hover {
      background: lighten($cyan, 20);
    }
  }
  &.red {
    color: $white;
    background: $red;
    &:hover {
      background: lighten($red, 10);
    }
  }
  &.yellow {
    color: $dark-cyan;
    background: $yellow;
    &:hover {
      background: lighten($yellow, 20);
    }
  }
}
