.container.header{
	&#wetlab {
    background: url("https://www.aiche.org/sites/default/files/images/courses/lab_safety_ssk_33970144.jpg");
	}
	&#red {
		background: $red;
	}
	&#dark-cyan {
		background: $dark-cyan;
	}
	&#cyan {
		background: $cyan;
	}
	&#yellow {
		background: $yellow;
	}

	&#pnp {
		background: $cyan;
	}
	&#safety {
		background: $red;
	}
	&#design {
		background: $red;
	}
	&#experiments {
		background: $red;
	}
	&#bioinformatics-workshop {
		background: $cyan;
	}
	&#icon-a-thon {
		background: $cyan;
	}
}
