.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5%;
}

#logo, #navigation {
  display: flex;
}
#logo {
  flex: 1;
  justify-content: center;
  padding-bottom: 10px;
  img {
    height: 40px;
  }
}
#navigation {
  flex: 3;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  ul {list-style-type: circle;}
  li {
    display: inline-block;
    padding: 5px 0.75em 0 0.75em;
    margin-top: 5px;
    a {
      transition: color 200ms linear;
      -webkit-transition: color 200ms linear;
      &:hover {
        font-weight: normal !important;
      }
    }
  }
}
#navbarSearch {
  padding: 0;
  margin: 10px 0;
  position: relative;
  input {
    display: block;
    padding: 10px;
    padding-left: 30px;
    border-radius: 50px 50px;
    border: 3px solid $dark-grey;
    color: $dark-torquoise;
    font-size: 2rem;
    width: 80%;
    background: #fff url('http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png') no-repeat 5px center;
    outline: none;
    margin: auto;
    &::-webkit-input-placeholder {color: $dark-cyan;}
  }
  &.navbar-animation {
    input{
      display: block;
      width: 35px;
      padding: 5px 10px;
      &[type=text] {
        transition: 0.5s;
        &:focus {
          width: 300px;
          padding-left: 30px;
        }
      }
    }
  }
}

#search {
  text-align: left;
  z-index: 20;
  display: none;
  background: $dark-cyan;
  opacity: 0.9;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0;
  margin: 1px 0;
  ul {margin:0; padding:0;}

  li {
    display: block;
    color: #fff;
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid #666;
    &:hover {
      background: $cyan;
    }
  }
  a {
    color: #fff;
    width: 100%;
  }

  &::-webkit-scrollbar {width: 5px;}
  &::-webkit-scrollbar-track-piece {background: none;}
  &::-webkit-scrollbar-thumb {background: $yellow; border-radius: 5px;}
}
