$font-size: 16px;
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 5%;
}

#logo, #navigation {
  display: flex;
}
#logo {
  flex: 1;
  justify-content: center;
  padding-bottom: 10px;
  img {
    height: 40px;
  }
}
#navigation {
  flex: 3;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  ul {list-style-type: circle;}
  li {

    display: inline-block;
    padding: 5px 0.75em 0 0.75em;
    margin-top: 5px;
    font-size: $font-size;
  }
}
#navbarSearch {
  padding: 0;
  input {
    display: block;
    padding: 5px 10px;
    padding-left: 30px;
    border-radius: 50px 50px;
    border: 1px solid $dark-torquoise;
    color: $dark-torquoise;
    font-size: 1.2rem;
    width: 100%;
    background: #fff url('http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png') no-repeat 5px center;
    outline: none;
    margin: 0;
    // &::-webkit-input-placeholder {color: $dark-torquoise;}
  }
  &.navbar-animation {
    input{
      display: block;
      width: 30px;
      padding: 5px 10px;
      &[type=text] {
        transition: 0.5s;
        &:focus {
          width: 400px;
          padding-left: 30px;
        }
      }
    }
  }
}
