@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Inconsolata");

$font-primary: "Lato", serif;
$font-mono: "Inconsolata", serif;

h1, h2, h3, h4, h5, p, a, blockquote, figcaption, li, th, td {
  font-family: $font-primary !important;
  margin: 1rem 0 !important;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
  -webkit-margin-start: 0 !important;
  -webkit-margin-end: 0 !important;
  line-height: normal;
}

h1 {
  font-size: 9rem !important;
  margin: 0.5em 0 !important;
}

h2 {
  font-size: 3.5rem !important;
  font-weight: 700 !important;
  margin: 0.5em 0 !important;
}

h3 {
  font-size: 2.2rem !important;
  font-weight: 700 !important;
  margin: 0.5em 0 !important;
}

h4 {
  font-size: 2rem !important;
  font-weight: 700 !important;
  margin: 0.5em 0 !important;
}

p {
  font-size: 1.7rem !important;
  margin: 1em 0 !important;
  line-height: 1.5em;
}

a {
  font-size: 1.7rem !important;
  text-decoration: none !important;
  &.dashed {
    border-bottom: 1px dashed !important;
    font-size: 1.4rem !important;
    color: inherit;
    &:visited {
      color: inherit !important;
    }
  }
  &:visited {
    color: inherit !important;
  }
}

sup a {
  color: $red !important;
  font-size: 1.1rem !important;
  &:visited {
    color: $red !important;
  }
}

button {
  font-size: 1.5rem !important;
}

blockquote {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  border-left: 5px solid $cyan !important;
}

blockquote.regular {
  font-size: 2rem !important;
  font-style: italic !important;
  margin-left: 0 !important;
  padding: 5px 10px !important;
}

blockquote.sequence {
  font-size: 1.5rem !important;
  border-left: 5px solid $cyan !important;
  margin-left: 0 !important;
  padding: 5px 10px !important;
  font-family: $font-mono !important;
  pre {
    margin: 0 !important;
    color: $faded-dark-cyan !important;
  }
}

blockquote.code {
  font-size: 1.5rem !important;
  border-left: 5px solid $cyan !important;
  margin-left: 0 !important;
  padding: 5px 10px !important;
  font-family: $font-mono !important;
  pre {
    margin: 0 !important;
    background-color: none !important;
    color: $faded-dark-cyan !important;
  }
}

figcaption {
  color: $dark-cyan !important;
}

ul {
  padding: 0 5px;
  list-style-type: none;
  list-style-image: none;
  &.bullets {
    list-style-type: circle;
    margin-left: 20px;
  }
  li {
    padding: 5px 0;
    a {
      font-size: 1.4rem !important;
      text-decoration: none;
      color: $dark-cyan;
      &:hover {
        font-weight: 700;
      }
      &:visited {
        color: $dark-cyan;
      }
    }
    &.active {
      a {
        font-weight: 900;
      }
    }
  }
}

table tbody tr td a {
  font-color: $dark-cyan;
  text-decoration: underline;
}
ol {
  padding: 0 30px !important;
  li {
    font-size: 1.5rem !important;
    color: $dark-cyan !important;
  }
}

th, td {
  font-size: 1.5rem !important;
}

hr {
  border: none !important;
  border-bottom: 2px solid $light-cyan !important;
}
